################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################
*.suo
*.user
_ReSharper.*
bin
obj
packages
.vs
/Hfs.Server/App_Data
/Hfs.Server/Hfs.Server.csproj.user
